<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= project.priority %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= project.client_id %>
  </p>

  <p>
    <strong>Project manager:</strong>
    <%= project.project_manager %>
  </p>

</div>
